body {
	background-color: #f4f4f4;
}

button {
	background-color: #c8c8c8;
	border: none;
	border-radius: 8vw;
	display: inline-block;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 1.0vw;
	margin-top: 3.0vw;
	padding: 1.0vw;
}

.center-it {
	text-align: center;
}

footer {
	background-color: #1dadcb;
	bottom: 0;
	font-family: 'Varela Round', sans-serif;
	height: 1vw;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

.footer-image {
	display: inline-block;
	opacity: 0.8;
	position: fixed;
	right: 5vw;
	bottom: 0;
	width: 90%;
	z-index: -2;
}

form {
	border: 0.1vw solid #bababa;
	border-radius: 1vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.95);
	display: block;
	margin: 1vw auto;
	padding: 1vw;
	position: relative;
	width: 100%;
	z-index: 1;
}

header {
	background-color: #1dadcb;
	border-radius: 1vw;
	font-family: 'Varela Round', sans-serif;
}

.header-image {
	display: inline-block;
	opacity: 0.8;
	position: fixed;
	right: 5vw;
	top: 30vw;
	width: 90%;
	z-index: -2;
}

.hidden {
	display: none;
}

iframe {
	margin: auto;
}

input {
	margin-bottom: 1vw;
}

input::after {
  clear: both;
}

label {
	display: inline-block;
	margin-bottom: 1vw;
}

main {
	font-family: 'Abel', sans-serif;
}

.map {
	border: 0.1vw solid #bababa;
	border-radius: 1vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.95);
	display: block;
	margin: 0 auto;
	padding: 1vw;
	text-align: center;
	width: 80%;
}

option {
	font-family: 'Abel', sans-serif;
}

p {
	font-size: 0.001em;
}

.route {
	border: 0.1vw solid #bababa;
	border-radius: 1vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(255, 255, 255, 0.95);
	display: block;
	float: none;
	margin: 1vw auto;
	padding: 1vw;
	width: 80%;
}

.route-name {
	font-weight: bold;
	color: #1dadcb;
}

.tagline {
	border-radius: 2vw;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 2.5vw auto;
	padding: 2vw 1vw;
	position: relative;
	text-align: center;
	width: 65%;
}

.weather-card {
	border: 0.1vw solid #bababa;
	border-radius: 1vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	display: block;
	margin: 0 auto;
	padding: 1vw;
	width: 80%;
}

@media only screen and (min-width: 640px) {
.header-image {
	display: inline-block;
	opacity: 0.8;
	position: fixed;
	left: 1vw;
	top: 0;
	width: 60%;
	z-index: -2;
}

.location-map {
	animation-name: map;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	position: relative;
	width: 50%
}

@keyframes map {
	0% {
		left: 0em;
		top: 0em;
	}
	100% {
		left: 15em;
		top: -28em;
	}
}

.map {
	width: 50%;
}

.route {
	animation-name: route;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	float: left;
	height: 375px;
	position: relative;
	width: 50%;
}

@keyframes route {
	0% {
		top: 0em;
	}
	100% {
		top: -20em;
	}
}

.footer-image {
	display: inline-block;
	opacity: 0.8;
	position: fixed;
	right: 1vw;
	bottom: 0;
	width: 40vw;
	z-index: -2;
}

form {
	width: 50%;

}

.form-animation {
	animation-name: form;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes form {
	0% {
		left: 0em;
	}
	100% {
		left: -15em;
	}
}


.tagline-animation {
	animation-name: tagline;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes tagline {
	0% {
		left: 0em;
		top: 0em;
	}
	100% {
		left: 9em;
		top: -8em;
	}
}

.weather-card {
	width: 50%;
}

}